<%= render "shared/header" %>

<link href="index.css" rel="stylesheet">

<div class='main'>

  <%# 画面上部の「料理講師に質問できるレシピアプリ」帯部分 %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container jumbotron-container">
      <h1 class="site-name">料理講師に質問できるレシピアプリ</h1>
      <p class="lead">“教えて！料理先生”はレシピだけではわからないことを</p>
      <p class="lead">レシピ考案者である料理講師に質問できるレシピアプリです</p>
    </div>
  </div>
  <%# /画面上部の「料理講師に質問できるレシピアプリ」帯部分 %>

  <%# コンテンツエリア %>
  <main class="container-fluid contents">

    <div class="content-primary">

      <div class='title'>
        <img src="/assets/logo_dish-r.png" width="57px" height="30px" alt="ロゴ" class="img-responsive">
          <h2>新着レシピ</h2>
        <img src="/assets/logo_dish-r.png" width="57px" height="30px" alt="ロゴ" class="img-responsive">
      </div>

        <%# 新着レシピ一覧 %>
      <div class='recipe-list'>

        <ul class='recipe-lists'>

          <% if @recipes.present? %>

            <% @recipes.each do |recipe| %>
                
              <li class='list'>
                <%= link_to recipe_path(recipe.id) do %>
                  <div class='recipe-img-content'>
                    <%= image_tag recipe.image.variant(resize_to_fill: [300, 200]) %>
                  </div>

                  <h3 class='recipe-name'>
                    <%= recipe.dish_name %>
                  </h3>
                <% end %>
              </li>
                
            <% end %>

          <% else %>

            <%# レシピがない場合のダミー %>
            <li class='list'>
              <%= link_to "#" do %>
                <%= image_tag "cooking_shippai", size: '200x200', class: "recipe-img" %>
                <h3 class='recipe-name'>
                  料理先生！レシピ作ってください
                </h3>
              <% end %>
            </li>
            <%# //レシピがない場合のダミー %>

          <% end %>

        </ul>

      </div>
      <%# //新着レシピ一覧 %>



    </div>

    <hr class="contents-divider">

    <%# 目的別に3ジャンルの部分 %>
    <div class="content-secondary">

      <div class='title'>
        <img src="/assets/logo_dish-r.png" width="57px" height="30px" alt="ロゴ" class="img-responsive">
        <h2 class='title'>“教えて！料理先生”は目的別に3ジャンル</h2>
        <img src="/assets/logo_dish-r.png" width="57px" height="30px" alt="ロゴ" class="img-responsive">
      </div>

      <div class='genre-list'>

        <div class='genre-body'>

          <div class="genre-image">
            <a href="/"><img src="/assets/nikujaga.jpg" width="180px" height="180px" alt="基本の家庭料理" class="rounded-circle"></a>
          </div>

          <div class="genre-detail">
            <h3>基本の家庭料理</h3>
            <p>おなじみの家庭料理が揃っています。「レシピ通りに作っているけど、なんかちょっと違う」等、料理講師に質問してみましょう！</p>
            <p><a class="btn btn-secondary" href="#" role="button">レシピを見る</a></p>
          </div>

        </div>

        <div class='genre-body'>

          <div class="genre-image">
            <a href="/"><img src="/assets/osechi.jpg" width="180px" height="180px" alt="おもてなし料理" class="rounded-circle"></a>
          </div>

          <div class="genre-detail">
            <h3>おもてなし料理</h3>
            <p>流行を取り入れた、おもてなしにぴったりな料理をご紹介。時短テクや、新しい調理方法等、料理講師に聞いてみましょう！</p>
            <p><a class="btn btn-secondary" href="#" role="button">レシピを見る</a></p>
          </div>

        </div>

        <div class='genre-body'>

          <div class="genre-image">
            <a href="/"><img src="/assets/appletalt.jpg" width="180px" height="180px" alt="スイーツ・お菓子" class="rounded-circle"></a>
          </div>

          <div class="genre-detail">
            <h3>スイーツ・お菓子</h3>
            <p>記念日用の華やかなケーキから普段使いしたいおやつまで、幅広いレシピが揃っています。製菓講師に細かい部分のコツ等きいてみましょう！</p>
            <p><a class="btn btn-secondary" href="#" role="button">レシピを見る</a></p>
          </div>

        </div>

      </div>

    </div>
    <%# /目的別に3ジャンルの部分 %>

  </main>
  <%# /コンテンツエリア %>

  <%= render "shared/footer" %>