<link href="header.css" rel="stylesheet">

<header class='top-page-header'>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#2e499d;">

    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="/assets/logo-y.png" width="270" height="28" alt="教えて！料理先生">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto mb-2 mb-md-0">

          <% if user_signed_in? %>
            <div class="user_nav grid-6">
              <span><%= link_to current_user.nickname, "/", class: "user-nickname" %></span>
              <span><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></span>
            </div>
          <% else %>
            <div class="grid-6">
              <span><%= link_to 'ログイン', user_session_path, method: :create, class: "login" %></span>
              <span><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></span>
            </div>
          <% end %>

          <div class="grid-6">
            <span><%= link_to '　ゲストログイン（一般ユーザー）', recipes_guest_sign_in_path, method: :post, class: "guest-login" %></span>
          </div>

        </ul>

        <form class="d-flex">
          <%= form_with url: search_recipes_path, local: true, method: :get do |form| %>
            <%= form.text_field :keyword, placeholder: "（現在開発中）レシピ名で検索", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </form>

          <% if user_signed_in? %>
            <% if current_user.teacher %>
              <%= link_to 'レシピを書く', new_recipe_path, class:"create-recipe-btn" %>
            <% end %>
          <% end %>
      </div>
    </div>
  </nav>

</header>